
.main-content > header{
    background: linear-gradient(300deg,
  #a0b1cc 0%,       /* Deepest night/navy */
  #616992 85%,      /* Smoky dark gray-blue */
  #746b58 98%,      /* 2% calm muted purple-magenta */
  #e9d8b4 100%      /* Soft beige star-glow hint */
);
}
.page-wrapper > .main-content {
    flex-grow: 1;
    width: calc(100% - var(--width-sidebar)) 
    /* or if needed */ 
    /* width: auto; */
}

.main-content > nav,
.main-content > header {
    display: flex;
    justify-content: flex-end;
    position: relative;
    
}
.main-content > header h2{
    position: absolute;
    left: 0;
    margin-top: 1%;
    margin-left: 2%;
}
.hide {
    display: none;
}