
:root {
    --width-sidebar: 17vw;
    --width-sidebar-collapsed: 14vw;
}
*{margin: 0;padding: 0;
    box-sizing: border-box;
}
.page-wrapper {
    display: flex;
}
.page-wrapper > .side-bar {
    background-color: gainsboro;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: sticky;
    top: 0;
    border-right: 1px solid black;
    width: var(--width-sidebar);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-wrapper > .side-bar.collapsed {
    width: var(--width-sidebar-collapsed);
}
.page-wrapper > .side-bar.collapsed ul li ul {
    display: none;
    
}
.page-wrapper > .side-bar > header {
    display: flex;
        flex-direction: column;
        border: 1px solid blue;
        justify-content: flex-start;
        width: 100%;
}
.page-wrapper>.side-bar>header img {
    display: block;
    /* position: fixed; */
    margin: 0;
    width: 90%;
    border: 1px solid blue;
    max-width: 200px;
    max-height: 150px;
    line-height: 1;
    /* height: 100%; */
}
.page-wrapper > .side-bar > header > .page-links-container {
    display: flex;
    flex-direction: column;
}
.page-wrapper > .side-bar > header > .page-links-container > a{
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
}

#sideBarBtn{
    position:fixed;
    display: block;
    color: black;
    font-size: 3rem;
    bottom: 4%;
    left: 2%;
    z-index: 1
}

.page-wrapper > .side-bar > .side-bar-ul-container {
    /* padding-left: 3%; */
    display: flex;
    flex-direction: column;
    /* margin-top: 140%; */
    /* flex-grow: 1; */
    /* Keep it inside the sidebar */
    width: 100%;
}
.page-wrapper > .side-bar.collapsed > .side-bar-ul-container {
    margin-top: 180%;
    
}
.side-bar-ul-container > ul {
    margin-left: 5%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.side-bar-ul-container > ul> li {
}

.side-bar-ul-container > ul> li > a{
    display: inline-block;
    position: relative;
    text-decoration: none;

    color: black;
    /* padding: 10% 10%; */
    width: 90%;
    width: fit-content;
    
}

.side-bar  a:active,
.side-bar  a:focus{
    /* background-color: lightblue; */
    font-weight: 999;
    margin-left:3%;
    transition: all 200ms;
    /* color: blue; */
    color: black;
    text-shadow: 1px 1px 1px whitesmoke;
    border: 1px solid black !important;
    border: none;
    font-style: bold;
}

.side-bar-ul-container > ul> li > a > sub{
    /* display: inline-block; */
    padding-bottom: 10%;
    transform: translate(0,-20%);
    /* border: 2px solid black; */

}
.side-bar-ul-container > ul> li > ul {
    /* margin-left: 10%; */
    list-style: none;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 0; */
    /* line-height: 0px; */
    /* margin-bottom: 50%; */
    /* border: 2px solid yellow; */
}
.side-bar-ul-container > ul> li > ul {
    font-size: 86%;
    
}
.side-bar-ul-container > ul> li > ul > li{
    /* margin: 10% 0; */
}
.side-bar-ul-container ul li ul li a{
        /* font-size: 2rem; */
        text-decoration: none;
        margin-left: 10%;
        color: blue;
    }

@media screen and (min-width:1770px) {
    
    .page-wrapper > .side-bar > .side-bar-ul-container {
        margin-top: 40%;
    }
    .side-bar-ul-container ul li a {
        font-size: 2rem;
    }
}
@media screen and (min-width:1500px) {

    .page-wrapper > .side-bar > .side-bar-ul-container {
        margin-top: 5%;
        margin-bottom: auto;
    }
    .page-wrapper > .side-bar > .side-bar-ul-container > ul{
        
    }
    .page-wrapper > .side-bar > .side-bar-ul-container > ul > li > ul{
        line-height: 20px;

    }
}
@media screen and (min-width: 1250px) {
    .page-wrapper>.side-bar>.side-bar-ul-container {
    }
}

@media screen and (min-width: 1000px) {
    :root {
        --width-sidebar: 14vw;
        --width-sidebar-collapsed: 10vw;
    }
}
@media screen and (min-width:800px) {
    .page-wrapper > .side-bar > .side-bar-ul-container {
        margin-top: 50%;    
    }
}
@media screen and (max-width:800px) {
    .page-wrapper > .side-bar > .side-bar-ul-container {
        margin-top: 90%;    
    }
}
@media screen and (max-width:520px) {
    .page-wrapper > .side-bar > .side-bar-ul-container {
        
    }
    .side-bar-ul-container,
    .side-bar-ul-container ul {
        margin-left: 0;
    }
    .side-bar-ul-container ul li a {
        /* font-size: 2rem; */
        margin-left: 0;
    }
    h1{
        font-size: 50%;
    }    
    :root {
    --width-sidebar: 22vw;
    --width-sidebar-collapsed: 20vw;
    }
    #sideBarBtn{
        bottom: 9%;
    }    
}


