.b1 {border: 1px solid black;}
.b2 {border: 2px solid black;}
.b3 {border: 3px solid black;}
.b4 {border: 4px solid black;}
.b5 {border: 5px solid black;}
.by {background-color: yellow;}
.bmsg {background-color: mediumspringgreen;}
.bfb {background-color: firebrick;}
.br {background-color: red;}
.brb {background-color: royalblue;}

