.main-content{
    display: flex;
    flex-direction: column;
}
.versions-container > header {
    display: flex;
    justify-content: space-between;
}
.copy-code {
    overflow-x: auto;
    display: block;
}
