/* .answer-txt {
    margin: 0 .25%;
}

.answer-txt>.text-base .markdown {
    padding: 1%
}
.answer-txt>.text-base .markdown p {
    padding: 1%;
    line-height: 1.5;
}
.answer-txt>.text-base .markdown .code-container  {
    background-color: white;
    color: black;
    padding: 1%;
}
.answer-txt>.text-base .markdown ul{
    margin: .5% 10%;
}
.answer-txt>.text-base .markdown ul{} */
