#mainContainer{
    border: 1px solid black;
}
.versions-container {
    padding: 4%;
    padding-top: 50%;
    gap: 2%;
    display: flex;
}
.versions-container > .version{
    display: inline-flex;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    min-height: 125px;
    flex-basis: 25%;
    padding-left: 2%;
}
.version:focus,.version:active{
    box-shadow: 2px 2px 2px 2px lightseagreen;
    border: 2px solid red;
}